{% extends 'base.html' %}

{% block content %}
<p>Selected Words For Lesson Plan</p>
<div class="pagination">
    <a class="icon-camera-retro" style="font-size:48px;color:#5555;" data-toggle="button" aria-pressed="false" autocomplete="off"
        onclick="changeVisibility()">
    </a>

    <span class="step-links">

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="icon-chevron-sign-left" style="font-size:48px;color:#5555; role="button"
               aria-pressed="true"></a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="icon-chevron-sign-right" style="font-size:48px;color:#5555; role="button"
               aria-pressed="true"></a>
        {% endif %}
        <span class="current" >
            ({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})
        </span>
    </span>
</div>

{% for word in page_obj %}
<div class="card text-nowrap" id="mainWord">
    <p class="text-center" style="font-size:20rem;" >  {{ word.name }} </p>
</div>
{% endfor %}

<script>
    function changeVisibility() {
        $("#mainWord").toggle(500);
        $("#mainWord").addClass('text-primary');
    }
</script>

{% endblock %}