{% extends 'base.html' %}
{% load static %}
{% block title %} Sightword - {{ words.name }} {% endblock %}

{% block extra_js %}
<script src="{% static 'js/sightworddetail.js' %}"></script>
{% endblock %}

{% block content %}

<a class="icon-camera-retro" style="font-size:48px;color:#5555;" data-toggle="button" aria-pressed="false"
   onclick="changeVisibility()">
</a>
<a class="icon-chevron-sign-left" href="/sightwords/{{prev_url.id}}" style="font-size:48px;color:#5555"
   role="button"> </a>
<a class="icon-chevron-sign-right" href="/sightwords/{{next_url.id}}" style="font-size:48px;color:#5555"
   role="button"> </a>
<div class="carousel-inner" id="mainWord">
    <p class="text-center" style="font-size:14rem;"> {{ words.name }} </p>
</div>
{% endblock %}
