{% extends 'base.html' %}
{% load static %}
{% block title %} Sight Words - Index {% endblock %}

{% block content %}
<h1>Sight Word Index</h1>

<div class="list-group">
    {% for word in words %}
    <a href="{% url 'sightwords:SetList' word.orig_set %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Set {{ word.orig_set }}</h5>
            <small>{{ word.id }}</small>
        </div>
        <p class="mb-1">Type: Sight Word</p>
    </a>
    {% endfor %}
</div>
{% endblock %}

