{% extends 'base.html' %}
{% load static %}
{% block title %} Sight Words - Set {{ words.0.orig_set }} {% endblock %}

{% block content %}
<h1>Sight Word Set {{ words.0.orig_set }}</h1>

<div class="list-group">
    {% for word in words %}

    <a href="{%url 'sightwords:Detail' word.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ word.name }}</h5>
            <small>{{ word.id }}</small>
        </div>
        <p class="mb-1">Set {{ word.orig_set }} # {{ word.orig_num }}</p>
        <small>Type: Sight Word</small>
    </a>
    {% endfor %}
</div>

{% endblock %}