{% extends 'base.html' %}
{% load static %}

{% block meta_description %} Online Tutoring - Specializing in struggling readers with dyslexia and other learning differences.  Our goal is to get students reading fluently on grade level and beyond. {% endblock %}

{% block content %}
<img src="{% static 'images/Banner.jpg' %}" class="img-fluid" alt="Responsive image">
<div class="d-grid gap-3">
    <div class="p-2 bg-light border">
        <h3> Contact Us </h3>
        <p>
            email: jensouthernshore@gmail.com
        </p>
    </div>
</div>

{% endblock %}
