<!DOCTYPE html>
<html lang="en">

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


<head>
    <meta charset="UTF-8">
    <title>My Pure Test HTML DOC</title>
    <H1>My Header For Empty Page</H1>
    <p>icon testing below asdf asd</p>
    <i class="icon-camera-retro" style="font-size:48px;" ></i>

</head>
<body>

</body>
</html>