{% extends 'base.html' %}
{% load static %}

{% block meta_description %} Online Tutoring - Specializing in struggling readers with dyslexia and other learning differences.  Our goal is to get students reading fluently on grade level and beyond. {% endblock %}

{% block content %}

<img src="{% static 'images/Desk.jpg' %}" class="img-fluid" style="width:100%;height: 50%;" alt="Responsive image">

<div class="d-grid gap-3">
    <div class="p-2 bg-light border">
        <h3> What We Do </h3>
        <p>
        <em>Connell Reading Center</em> specializes in helping students with dyslexia and autism learn to read on grade level.
                We have found the missing piece for students with learning differences and that is the use of symbol imagery.
                Symbol imagery is visualizing symbols (letters) in students’ mind’s eye. Being able to see the letters and
                manipulate them helps students to read accurately, rapidly, and comprehend what they read. Most children with
                the dyslexia can’t see the words in their head to read them fluently. Students that struggle over every word
                they read will not be able to comprehend. I call symbol imagery our secret sauce for success.
                It works every time.
        </p>


        <h3> How We’re Different from Other Reading Programs </h3>
        <p>
            How it differs from other programs is that it teaches symbol imagery with orthographic processing.
            The easiest way to explain this is that CRC is not just another phonics program. It rewires the brain through
            letter manipulation and visualizing of letters. Most reading centers focus on phonics and sight words only.
            Both of those skills are crucial to get students to read. Unfortunately, phonics will only get children with
            dyslexia so far. Students will level out at a certain point. I call it being stuck in the reading mire.
            They are unable to advance to their next reading level because they can’t see visualize the words they are reading.
            Our program works every time students meet their hours and are motivated!
        </p>

        <h3> Who We Help </h3>
        <p>
            We do cater to anyone with learning disorders but can help any student learn how to read. We can fill in the gaps
            for children who are just a little far behind. Our goal is to get our students to grade level as quickly as
            possible. For us that means students should be reading fluently and being able to comprehend what they’re reading
            on grade level and beyond. We see students from kindergarten to adult.
        </p>

        <h3> How We Teach </h3>
        <p>
            Most of our students meet us online in a zoom room. Our curriculum is paced according to each student’s individual
            needs. This is not a one size fits all type of program. We update parents every month through email.
            There is a battery of reading tests at the beginning of the program and one halfway into the program to show
            parents their child’s success. We are available for consult when an email is sent with a request to talk.
        </p>

        <h3> Is This For Your Child? </h3>
        <p>
            First, we will have an online consultation with you to see if this is for you and to explain more about CRC.
            Then, we test your child to see if they are eligible for the program and know where to place them.
            Our psychological evaluations also identify gaps in your child’s learning.  If they are eligible to be placed in
            our program we will create a plan specifically for their needs. C.R.C. will calculate the hours needed for your
            child to get on grade level as rapidly as possible. Most programs take years for success. We can cut that down
            to months.
        </p>

        <h3> Next Steps </h3>
        <p>
            Interested parents please email CRC on the Contact page. We will get back to you within a day of your email.
        </p>

        <h3>About Us</h3>
        <p>
            My daughter was already struggling with reading when Covid hit. I mentioned it to her teacher several times
            before we were sent home. Her response was that she would catch up and mature over the year. At the end of the
            school year we would reevaluate my daughter’s situation. In March of that year my daughter at distance learning.
            It was apparent to me that she couldn’t read while I was working with her. As a schoolteacher this was very
            frustrating for me. I’m a reading teacher at that. We tried several programs at home and several online. We spent
            a lot of money to no avail. That’s when I researched and developed a program using symbol imagery. My goal is to
            not see any parent feel helpless like I did. All children should be able to feel confident in reading.
        </p>

        <h3> Our Success Stories </h3>
        <p>
            <q>We were at the breaking point. Here I was, a teacher, unable to help my daughter read. After, trying so many
                programs, we found symbol imagery. Savannah can now read on grade-level.</q> <br> <br>
            <q>Caleb was reading on the first-grade level in fifth grade. Lacking confidence in reading after four years of
                another program, Caleb is now on the fourth-grade level. We still have more to go but this happened in three
                months’ time. Connell Education Center helped our son read</q> <br> <br>

            <q>Eli wanted to read “Junie B. Jones” like the other kids in his class. Instead, all he could read was books on
                the kindergarten level. He can now read “Junie B. Jones” and so many other books on his grade level!
                This program really works!”</q> <br> <br>

            <q>Will couldn’t remember his sight words when reading in contexts. Phonics patterns eluded him. Now, he can
                remember both patterns and sight words by visualizing his words in his mind’s eye.”</q> <br> <br>

        </p>
    </div>
</div>

{% endblock %}
