{% extends 'base.html' %}

{% block title %} Lessons - Create {% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>Lesson Plan Create</h1>
            </div>
        </div>
</div>

<br>

<form method="POST"> {% csrf_token %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>Student</label>
                {{ form.student }}
            </div>
            <div class="col-sm">
                <label>Tutor</label>
                {{ form.tutor }}
            </div>
            <div class="col-sm">
            <label>Date</label>
            {{ form.scheduled }}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>Sight Words</label><br>
                {{ form.sight_word_list }}
            </div>

            <div class="col-sm">
                <label>Syllable Words</label><br>
                {{ form.syllable_word_list }}
            </div>

            <div class="col-sm">
                <label>Multi Syllable Words</label><br>
                {{ form.multisyllable_word_list }}
            </div>

            <div class="col-sm">
                <label>Affixes</label><br>
                {{ form.affix_word_list }}
            </div>

        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>Hackables</label><br>
                {{ form.hackable_word_set_list }}
            </div>

            <div class="col-sm">
                <label>Sentences</label><br>
                {{ form.hackable_sentence_set_list }}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>VV Stories</label><br>
                {{ form.vv_story }}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>Air Write Words</label><br>
                {{ form.air_write_words }}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>Notes</label><br>
                {{ form.note }}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <input type='submit' value='Save'/>
            </div>
        </div>
    </div>
    <br>
</form>

{% endblock %}