{% extends 'base.html' %}
{% load static %}
{% block title %} Sight Words - Box {{ words.0.orig_box }} Book {{ words.0.orig_book }}  {% endblock %}

{% block content %}
<h1>Syllable Words Box {{ words.0.orig_box }} Book {{ words.0.orig_book }}</h1>

<div class="list-group">
    {% for word in words %}
    <a href="/syllablewords/{{word.id}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ word.name }}</h5>
            <small>{{ word.id }}</small>
        </div>
        <p class="mb-1">Set {{ word.orig_box }} Book {{ word.orig_book }} # {{ word.orig_num }}</p>
        <small>Syllable Type: {{ word.type }}</small>
    </a>
    {% endfor %}
</div>

{% endblock %}