{% extends 'base.html' %}
{% load static %}
{% block title %} Sight Words - Index {% endblock %}

{% block content %}
<h1>Syllable Words Box {{ words.0.orig_box }} Book {{ words.0.orig_book }}</h1>

<ul class="list-group">
    {% for word in words %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <a class="text-dark" href="/syllablewords/{{word.id}}">#{{ word.orig_num }} - {{ word.name }} </a>
            </div>
        </div>
        <span class="badge bg-primary rounded-pill">{{ word.id }}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}