{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-md">
            <a class="navbar-brand" href="#">Sight Words</a>
        </div>
        <div class="container-md">
            <a class="navbar-brand" href="//127.0.0.1:8000/sightwords/wordlist">Sight Words List</a>
        </div>
        <div class="container-md">
            <a class="navbar-brand" href="//127.0.0.1:8000/sightwords/carousellist">Carousel</a>
        </div>
    </nav>
</nav>
<h1>Syllable Words</h1>

{% endblock %}