{% load static %}
{% if user.is_authenticated %}
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">

      <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ home_tab|yesno:'active,' }}">
              <a class="navbar-brand" href="/">
                  <img src="{% static 'images/ConnellSimpleLogo.svg' %}" width="30" height="30" alt="">
                  <i>Connell Reading Center</i>
              </a>
          </li>

          {% if user.is_authenticated %}
              <li class="nav-item {{ lessonplan_tab|yesno:'active,' }}">
                  <a class="nav-link" href="{% url 'lessonplans:LessonPlanTutorIndex' %}">Lessons</a>
              </li>
              <li class="nav-item dropdown {{ ref_tab|yesno:'active,' }}">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                      Ref Docs
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                      <a class="dropdown-item" href="{% url 'sightwords:Index' %}">Sight Words</a>
                      <a class="dropdown-item" href="{% url 'sightwords:SentenceIndex' %}">Sight Word Sentences</a>
                      <a class="dropdown-item" href="{% url 'syllablewords:Index' %}">Syllable Words</a>
                      <a class="dropdown-item" href="{% url 'read_in_context:Index' %}">Reading In Context</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'hackablesheets:BookIndex' %}">Hackable Sheets</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'vv_stories:BookIndex' %}">VV Story Books</a>
                      <a class="dropdown-item" href="{% url 'vv_pictures:BookIndex' %}">VV Picture Books</a>
                  </div>
              </li>
              <li class="nav-item dropdown {{ planning_tab|yesno:'active,' }}">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                      Planning
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                      <a class="dropdown-item" href="{% url 'lessonplans:Index' %}">List All</a>
                      <a class="dropdown-item" href="{% url 'lessonplans:Index' %}">List Active</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'lessonplans:LessonPlanCreate' %}">Create</a>
                  </div>
              </li>
          {% else %}
          <li> <a class="nav-link" href="/#scrollspyAbout">About</a> </li>
          <li class="nav-item {{ contact_tab|yesno:'active,' }}"> <a class="nav-link" href="{% url 'pages:contact' %}">Contact</a> </li>
          <li class="nav-item {{ workwithus_tab|yesno:'active,' }}"> <a class="nav-link" href="{% url 'pages:workwithus' %}">Work-With-Us</a> </li>
          {% endif %}
          <li>
              {% if user.is_authenticated %}
                  <a class="nav-link" href="/logout/"> {{request.user.username}} </a>
              {% else %}
                  <a class="nav-link" href="/login/"> Login</a>
              {% endif %}
          </li>
      </ul>
  </nav>


    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
{% else %}
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ home_tab|yesno:'active,' }}">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'images/ConnellSimpleLogo.svg' %}" width="30" height="30" alt="">
                    <i>Connell Reading Center</i>
                </a>
            </li>
            <li> <a class="nav-link" href="/#scrollspyAbout">About</a> </li>
            <li class="nav-item {{ contact_tab|yesno:'active,' }}"> <a class="nav-link" href="{% url 'pages:contact' %}">Contact</a> </li>
            <li class="nav-item {{ workwithus_tab|yesno:'active,' }}"> <a class="nav-link" href="{% url 'pages:workwithus' %}">Work-With-Us</a> </li>
            <li>
                {% if user.is_authenticated %}
                    <a class="nav-link" href="/logout/">{{request.user.username}} </a>
                {% else %}
                    <a class="nav-link" href="/login/"> Login</a>
                {% endif %}
            </li>
        </ul>
    </nav>

{% endif %}