{% extends 'base.html' %}
{% load static %}
{% block title %} Hackables - {{ sheet.title }} {% endblock %}

{% block content %}
<p>Hackable Word Sheet</p>
<div class="container">
    <div class="row">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="d-flex flex-row flex-wrap">
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 1 sheet.word1 %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">1</span> {{ sheet.word1 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 2 sheet.word2  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">2</span> {{ sheet.word2 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 3 sheet.word3  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">3</span> {{ sheet.word3 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 4 sheet.word4  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">4</span> {{ sheet.word4 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 5 sheet.word5  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">5</span> {{ sheet.word5 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 6 sheet.word6  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">6</span> {{ sheet.word6 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 7 sheet.word7  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">7</span> {{ sheet.word7 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 8 sheet.word8  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">8</span> {{ sheet.word8 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 9 sheet.word9  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">9</span> {{ sheet.word9 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 10 sheet.word10  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">10</span> {{ sheet.word10 }}
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-row flex-wrap">
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 11 sheet.word11  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">11</span> {{ sheet.word11 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 12 sheet.word12  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">12</span> {{ sheet.word12 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 13 sheet.word13  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">13</span> {{ sheet.word13 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 14 sheet.word14  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">14</span> {{ sheet.word14 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 15 sheet.word15  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">15</span> {{ sheet.word15 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 16 sheet.word16  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">16</span> {{ sheet.word16 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 17 sheet.word17  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">17</span> {{ sheet.word17 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 18 sheet.word18  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">18</span> {{ sheet.word18 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 19 sheet.word19  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">19</span> {{ sheet.word19 }}
                    </a>
                    <a href="{% url 'hackablesheets:HackableWord' sheet.id 20 sheet.word20  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">20</span> {{ sheet.word20 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
