{% extends 'base.html' %}
{% load static %}
{% block title %} Hackables - {{ sheet.title }} {% endblock %}

{% block content %}
<i class="icon-chevron-sign-up" onclick="javascript:history.go(-1);" style="font-size:48px;color:#5555"
   role="button"></i>
<div class="container">
    <div class="row">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="d-flex flex-row flex-wrap">
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">1</span> {{ sheet.word1 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">2</span> {{ sheet.word2 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">3</span> {{ sheet.word3 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">4</span> {{ sheet.word4 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">5</span> {{ sheet.word5 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">6</span> {{ sheet.word6 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">7</span> {{ sheet.word7 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">8</span> {{ sheet.word8 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">9</span> {{ sheet.word9 }}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">10</span> {{ sheet.word10 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>1. <a href="#">
    {{ sheet.sentence1 }}
</a> </h3>
<h3>2. <a href="#">
    {{ sheet.sentence2 }}
</a> </h3>
<h3>3. <a href="#">
    {{ sheet.sentence3 }}
</a> </h3>
<h3>4. <a href="#">
    {{ sheet.sentence4 }}
</a> </h3>



{% endblock %}
