{% extends 'base.html' %}
{% load static %}
{% block title %} Lesson Plan - Index {% endblock %}

{% block content %}
<h3>Lessons Index</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Lesson</th>
      <th scope="col">Tutor</th>
      <th scope="col">Student</th>
      <th scope="col">Scheduled</th>
    </tr>
  </thead>
  <tbody>
  {% for lesson in lessons %}
    <tr>
      <th scope="row"><a href="{% url 'lessonplans:Update' lesson.id %}">{{ lesson.id }}</a></th>
      <td>{{ lesson.tutor }}</td>
      <td>{{ lesson.student.first_name }} {{ lesson.student.last_name }} ({{ lesson.student.id }})</td>
      <td>{{ lesson.scheduled }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if page_obj.paginator.num_pages > 1 %}
  <div class="container">
    <div class="row">
      <div class="col-lg">
          <nav aria-label="...">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item active">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
              {% endif %}


                {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="page-item active">
                      <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
              {% else %}
              <li class="page-item">
                  <a class="page-link" href="#">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
    </div>
  </div>
</div>
{% endif %}
<br>


{% endblock %}

