{% extends 'base.html' %}
{% load static %}
{% block title %} Lesson Plan - Index {% endblock %}

{% block content %}
<h3 class="text-center">Lessons Index</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Lesson</th>
      <th scope="col">Tutor</th>
      <th scope="col">Student</th>
      <th scope="col">Scheduled</th>
    </tr>
  </thead>
  <tbody>
  {% for lesson in lessons %}
    <tr>
      <th scope="row"><a href="{% url 'lessonplans:Update' lesson.id %}">{{ lesson.id }}</a></th>
      <td>{{ lesson.tutor }}</td>
      <td>{{ lesson.student.first_name }} {{ lesson.student.last_name }}({{ lesson.student.id }})</td>
      <td>{{ lesson.scheduled }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if page_obj.paginator.num_pages > 1 %}

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col-lg">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">begin</span>
                </a>
              </li>
            {% endif %}

            {% for n in page_obj.paginator.page_range %}
              {% if page_obj.number == n %}
                <li class="page-item active">
                  <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                </li>
              {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">end</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endif %}
<br>
{% endblock %}

