{% extends 'base.html' %}
{% load static %}
{% block title %} Lesson - Detail {% endblock %}


{% block content %}
<h1 id="testHeader2">Lesson ({{ lesson.id }}) - Detail View </h1>

<div class="container">
    <div class="row">

        {% if sight_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Capture Words</h5>
                    <p class="card-text">
                        {% for sightword in sight_word_list %}
                        {{ sightword.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:card' lesson.id 'capture' %}"
                       class="btn btn-outline-primary btn-sm">
                        Start Capture Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if syllable_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Syllable Words</h5>
                    <p class="card-text">
                        {% for syllableword in syllable_word_list %}
                        {{ syllableword.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:card' lesson.id 'syllable' %}"
                       class="btn btn-outline-primary btn-sm">
                        Start Syllable Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if multisyllable_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Multi Syllable Words</h5>
                    <p class="card-text">
                        {% for multisyllableword in multisyllable_word_list %}
                        {{ multisyllableword.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:card' lesson.id 'multisyllable' %}"
                       class="btn btn-outline-primary btn-sm">
                        Start MultiSyllable Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if affix_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Affix Words</h5>
                    <p class="card-text">
                        {% for affixeword in affix_word_list %}
                        {{ affixeword.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:card' lesson.id 'affix' %}"
                       class="btn btn-outline-primary btn-sm">
                        Start Affix Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if personal_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personal Words</h5>
                    <p class="card-text">
                        {% for personalword in personal_word_list %}
                        {{ personalword.sight_word.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:sight_words' lesson.id lesson.student.id %}"
                       class="btn btn-outline-primary btn-sm">
                        Start Personal Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hackable Sheets</h5>
                    <p class="card-text">
                        Hackables
                    <div>
                        {% for item in hackset_list %}
                        <a href="{% url 'lessonplans:hack_words' item.lesson_plan_id item.id %}"
                           class="btn btn-outline-primary btn-sm">
                            {{ item.hackable_word_set.book }} Sheet {{item.hackable_word_set.orig_num}}
                        </a>
                        {% endfor %}
                    </div>
                    </p>
                    Sentences
                    <div>
                        {% for item in hacksent_list %}
                        <a href="{% url 'lessonplans:hacksent_set' item.lesson_plan_id item.id %}"
                           class="btn btn-outline-primary btn-sm">
                            {{ item.hackable_sentence_set.book }} Sheet {{item.hackable_sentence_set.orig_num}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
