{% extends 'base.html' %}

{% block title %} Lessons - Create {% endblock %}

{% block content %}
<h1>Lesson Plan Create</h1>
<form method="POST"> {% csrf_token %}
    <p>
        <label>Student</label>
        {{ form.student }}
        <label>Tutor</label>
        {{ form.tutor }}
        <label>Time</label>
        {{ form.scheduled }}
    </p>
    <div>
        <label>Sight Words</label>
        {{ form.sight_word_list }}
        <label>Syllable Words</label>
        {{ form.syllable_word_list }}
        <label>Multi Syllable Words</label>
        {{ form.multisyllable_word_list }}
        <label>Affixes</label>
        {{ form.affix_word_list }}
    </div>

    <div>
        <label>Hackables</label>
        {{ form.hackable_word_set_list }}
        <label>Sentences</label>
        {{ form.hackable_sentence_set_list }}
    </div>

    <p>
        <label>Air Write Words</label>
        {{ form.air_write_words }}
    </p>
    <p>
        <label>Notes</label>
        {{ form.note }}
    </p>


    <input type='submit' value='Save'/>
</form>

{% endblock %}