{% extends 'base.html' %}
{% load static %}
{% block title %} Lesson - Detail {% endblock %}


{% block content %}
<h1 id="testHeader2">Lesson ({{ lesson.id }}) - Detail View </h1>

<div class="container">
    <div class="row">

        {% if sight_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Capture Words</h5>
                    <p class="card-text">
                        {% for sightword in sight_word_list %}
                        {{ sightword.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:card' lesson.id 'capture' %}"
                       class="btn btn-outline-primary btn-sm">
                        Start Capture Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if syllable_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Syllable Words</h5>
                    <p class="card-text">
                        {% for syllableword in syllable_word_list %}
                        {{ syllableword.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:card' lesson.id 'syllable' %}"
                       class="btn btn-outline-primary btn-sm">
                        Start Syllable Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if multisyllable_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Multi Syllable Words</h5>
                    <p class="card-text">
                        {% for multisyllableword in multisyllable_word_list %}
                        {{ multisyllableword.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:card' lesson.id 'multisyllable' %}"
                       class="btn btn-outline-primary btn-sm">
                        Start MultiSyllable Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if affix_word_list.count > 0 %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Affix Words</h5>
                    <p class="card-text">
                        {% for affixeword in affix_word_list %}
                        {{ affixeword.name }},
                        {% endfor %}
                    </p>
                    <a href="{% url 'lessonplans:card' lesson.id 'affix' %}"
                       class="btn btn-outline-primary btn-sm">
                        Start Affix Words
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hackable Sheets</h5>
                    <p class="card-text">
                        {% for hackablelist in hackable_word_set_list %}
                        {{ hackablelist.book }} Sheet {{hackablelist.orig_num}},
                        {% endfor %}
                    </p>
                    <a href="#"
                       class="btn btn-outline-primary btn-sm">
                        Hackables
                    </a>
                    <a href="#"
                       class="btn btn-outline-primary btn-sm">
                        Sentences
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
