{% extends 'base.html' %}
{% load static %}
{% block title %} Lessons - DetailViewCustom {% endblock %}

{% block extra_js %}
<script src="{% static 'js/lessonplans.js' %}"></script>
{% endblock %}

{% block content %}
<h1 id="testHeader2">Lesson Plan Template - Detail View New</h1>
    <a class="icon-camera-retro" style="font-size:48px;color:#5555;" data-toggle="button" aria-pressed="false" autocomplete="off"-
        onclick="changeVisibility()">
    </a>
    <a class="icon-chevron-sign-left" href="#WordCarousel" style="font-size:48px;color:#5555" role="button"
       data-slide="prev" onclick="makeVisible()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="icon-chevron-sign-right" href="#WordCarousel" style="font-size:48px;color:#5555" role="button"
       data-slide="next" onclick="makeVisible()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

<div id="WordCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner" id="mainWord">
        <div class="carousel-item active">
            <p class="text-center" style="font-size:20rem;" >  {{ sightwords.0.name }} </p>
        </div>
        {% for word in sightwords %}
            {% if forloop.counter > 1 %}
            <div class="carousel-item">
                <p class="text-center" style="font-size:20rem;" >  {{ word.name }} </p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
