{% extends 'base.html' %}
{% load static %}
{% block title %} Hackables - {{ sheet.title }} {% endblock %}

{% block content %}
<i class="icon-chevron-sign-up" onclick="javascript:history.go(-1);" style="font-size:48px;color:#5555"
   role="button"></i>
<div class="container">
    <div class="row">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="d-flex flex-row flex-wrap">
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 1 sheet.hackable_sentence_set.word1 %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">1</span> {{ sheet.hackable_sentence_set.word1 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 2 sheet.hackable_sentence_set.word2  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">2</span> {{ sheet.hackable_sentence_set.word2 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 3 sheet.hackable_sentence_set.word3  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">3</span> {{ sheet.hackable_sentence_set.word3 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 4 sheet.hackable_sentence_set.word4  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">4</span> {{ sheet.hackable_sentence_set.word4 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 5 sheet.hackable_sentence_set.word5  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">5</span> {{ sheet.hackable_sentence_set.word5 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 6 sheet.hackable_sentence_set.word6  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">6</span> {{ sheet.hackable_sentence_set.word6 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 7 sheet.hackable_sentence_set.word7  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">7</span> {{ sheet.hackable_sentence_set.word7 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 8 sheet.hackable_sentence_set.word8  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">8</span> {{ sheet.hackable_sentence_set.word8 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_sent_word' myobj sheet.id 9 sheet.hackable_sentence_set.word9  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">9</span> {{ sheet.hackable_sentence_set.word9 }}
                    </a>
                    <a href="{% url 'lessonplans:hackable_word' myobj sheet.id 10 sheet.hackable_sentence_set.word10  %}" class="list-group-item list-group-item-action">
                        <span class="badge badge-light">10</span> {{ sheet.hackable_sentence_set.word10 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>1. <a href="{% url 'lessonplans:hackable_sent' myobj sheet.id 1 sheet.hackable_sentence_set.sentence1  %}">
    {{ sheet.hackable_sentence_set.sentence1 }}
</a> </h3>
<h3>2. <a href="{% url 'lessonplans:hackable_sent' myobj sheet.id 2 sheet.hackable_sentence_set.sentence2  %}">
    {{ sheet.hackable_sentence_set.sentence2 }}
</a> </h3>
<h3>3. <a href="{% url 'lessonplans:hackable_sent' myobj sheet.id 3 sheet.hackable_sentence_set.sentence3  %}">
    {{ sheet.hackable_sentence_set.sentence3 }}
</a> </h3>
<h3>4. <a href="{% url 'lessonplans:hackable_sent' myobj sheet.id 4 sheet.hackable_sentence_set.sentence4  %}">
    {{ sheet.hackable_sentence_set.sentence4 }}
</a> </h3>
{% endblock %}
